.App {
  text-align: center;
  display: block;
}

.Form {
  background: rgb(231, 227, 227);
  margin: 20px auto;
  width: 250px;
  height: auto;
  box-shadow: 2px 2px 2px 2px gray
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.InputElement:focus {
  outline: none;
  background-color: #ccc;
}

.Error {
  color: red;
}

.Succes {
  color: green;
}